.sidebar-wrapper {

    .sidebar-brand {
        padding: 1rem 1.2rem;
        display: flex;
        align-items: center;
        height: $sidebar-brand-height;
        background-color:  #007AFC;

        
}
}

